<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href = "{{ url_for('static', path='styles.css')}}">
    </head>
    <body>
    <div class="nav">
        <a href="/random"><button>Random Pokemon</button></a>
        <a href="/hangman"><button>Pokemon Hangman</button></a>
        <a href="/"><button>Go to home page</button></a>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Mikołaj Pióro</p>
    </footer>
</body>

</html>